*
!*/
!*.*
/unused
/.ipynb_checkpoints
/gathering data
/preprocessor/*.csv
/preprocessor/*.jld
/preprocessor/*.so
/preprocessor/*.npy
/preprocessor/sero_args.json
/preprocessor/__pycache__
/c_wrapper/build
/c_wrapper/c_wrapper.egg-info
/c_wrapper/c_wrapper/src/*.so
/c_wrapper/c_wrapper/__pycache__
/smiles_tools/build
/smiles_tools/smiles_tools.egg-info
/smiles_tools/smiles_tools/__pycache__
/inverse_qsar/*.h5
/inverse_qsar/generated_drugs/*.csv
/inverse_qsar/generated_drugs/*.txt
/inverse_qsar/generated_drugs/__pycache__
/inverse_qsar/generated_drugs/images/*
/inverse_qsar/__pycache__
/inverse_qsar/.ipynb_checkpoints
/inverse_qsar/files.csv
/inverse_qsar/ssri_args.json
/other data
/predictor/*.h5
/predictor/*.so
/predictor/__pycache__
/predictor/.ipynb_checkpoints
/settings.json
/*.toml
/*.so
/*.dll
/*.o
/*.bson
/*.jld
/*.npy
/testing*
/.vs
/__pycache__
/aws