*
!*/
!*.*
/unused
/.ipynb_checkpoints
/gathering data
/preprocessor/*.csv
/preprocessor/*.jld
/preprocessor/*.so
/preprocessor/*.npy
/c_wrapper/build
/c_wrapper/c_wrapper.egg-info
/c_wrapper/c_wrapper/src/*.so
/smiles_tools/build
/smiles_tools/smiles_tools.egg-info
/smiles_tools/smiles_tools/__pycache__
/inverse_qsar/*.h5
/inverse_qsar/generated_drugs/*.csv
/inverse_qsar/generated_drugs/__pycache__
/inverse_qsar/generated_drugs/images
/inverse_qsar/__pycache__
/inverse_qsar/.ipynb_checkpoints
/other data
/predictor/*.h5
/predictor/__pycache__
/predictor/.ipynb_checkpoints
/settings.json
/t
/*.toml
/*.so
/*.dll
/*.o
/*.bson
/*.txt
/*.jld
/*.npy
/testing*
/.vs
/__pycache__
/aws
!/requirements.txt